body {
  margin: 0;
  text-align: center;
  font-family: 'Righteous', cursive;
}

h1 {
  margin: 0 auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Dancing Script', cursive;
  color: #66BFBF;
}

.aprogrammer {
  line-height: 2;
  font-weight: normal;
}

.pro {
  text-decoration: underline;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h3 {
  color: #11999E;
  line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 4px;
  width: 5%;
}

p {
  line-height: 2;
}
.intro{
width: 500px;
margin: auto;

}
.footer-link {
  color: #11999E;
  padding-right: 50px;
  padding-left: 50px;
  text-decoration: none;
  line-height: 2;
}

.signature-footer {
  color: #EAF6F6;
  line-height: 2;
}

.gregpic {
  border-radius: 50%;
}

.skillimage {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chillipic {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;
  line-height: 2;
}

.bottom-cloud {
  position: absolute;
  top: 300px;
  left: 300px;
}

.btn {
  line-height: 5;
}
